LibraryApp/Connected Services/ServiceBooksView/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/BooksView/ServiceBooksView/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8733/BooksView/ServiceBooksView/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataBase.Db.DbBooks" />
  <xs:element name="GetBooksFiltered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titleAuthor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxPrice" type="xs:int" />
        <xs:element minOccurs="0" name="minPrice" type="xs:int" />
        <xs:element minOccurs="0" name="maxPages" type="xs:int" />
        <xs:element minOccurs="0" name="minPages" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="genres" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataBase.Db.DbBooks" minOccurs="0" name="GetBooksFilteredResult" nillable="true" type="q2:ArrayOfUsableBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLanguagesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresByFirstLetter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstLetter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresByFirstLetterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGenresByFirstLetterResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGenresResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsableBookById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsableBookByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataBase.Db.DbBooks" minOccurs="0" name="GetUsableBookByIdResult" nillable="true" type="q6:UsableBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>