LibraryApp/Connected Services/ServiceRent/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataBase.Db.DbUsers.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataBase.Db.DbUsers.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rent" nillable="true" type="tns:Rent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRent" nillable="true" type="tns:ArrayOfRent" />
  <xs:complexType name="Rent">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="Card" nillable="true" type="tns:Card" />
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="From" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Prolonged" type="xs:int" />
      <xs:element minOccurs="0" name="RentId" type="xs:int" />
      <xs:element minOccurs="0" name="To" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rent" nillable="true" type="tns:Rent" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>