LibraryApp/Connected Services/ServiceNotifications/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Notifications/ServiceNotifications/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataBase.Db.DbUsers.Models" />
  <xs:import schemaLocation="http://localhost:8733/Notifications/ServiceNotifications/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataBase.Db.DbBooks" />
  <xs:element name="SendNotificationsReturned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNotificationsReturnedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNotificationsNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNotificationsNewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNotificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataBase.Db.DbUsers.Models" minOccurs="0" name="GetUserNotificationsResult" nillable="true" type="q1:ArrayOfNotification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notificationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeIsEnding">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeIsEndingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataBase.Db.DbBooks" minOccurs="0" name="TimeIsEndingResult" nillable="true" type="q2:ArrayOfUsableBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>